#main-navbar {
	background: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6e6b4+23,f6e6b4+34,ed9017+58,ed9017+58 */
background: linear-gradient(to bottom,  #f6e6b4 23%,#f6e6b4 34%,#ed9017 58%,#ed9017 58%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#navbar-conatiner {
	width: 100%;
	position: relative;
	text-align: center;
}

#main-navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}
	
#main-navbar ul li {
  float: left;
}

#main-navbar ul li a {
  padding: 10px 20px;
  color: pink;
  text-decoration; underline;
}

#main-navbar ul li a:hover {
	background-color: black;
	text color: yellow;
}
